<footer>
    <nav>
        <a href="{{ '/' | url }}" active>Home</a>
        <a href="{{ '/privacy-policy' | url }}">Privacy Policy</a>
        <a href="{{ '/contact' | url }}">Get in Touch</a>
    </nav>
    <div>
        <a class="footer-cta" href="https://apps.shopify.com/sections-ai"><img src="{{ '/resources/img/shopify-white.svg' | url }}"> Add to your Shopify shop</a>
    </div>
</footer>