---
title: Base
---
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Fundlet - {{ title }}</title>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ title }} - Sections Pro">
    <meta name="keywords" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <!-- prevent caching -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <!-- set base -->
    <base href="">

    <link rel="icon" href="{{ '/resources/img/favicon.png' | url }}">

    <!-- css -->
    <link type="text/css" href="{{ '/resources/css/reset.css' | url }}" rel="stylesheet">
    <link type="text/css" href="{{ '/resources/css/brand.css' | url }}" rel="stylesheet">
    <link type="text/css" href="{{ '/resources/css/site.css' | url }}" rel="stylesheet">
    <link type="text/css" href="{{ '/resources/css/page.css' | url }}" rel="stylesheet">
</head>

<!-- Preview: 1000 x 1100 -->

<body>

    <div class="container">

        {% include "header.njk" %}

        <div class="page-pitch">
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
        </div>

    </div>

    <div class="page-feature" style="background-color: #F4F2EF;">
        <div>
            <h2>Part 1: Create your First Campaign</h2>
            <p>Learn how to get started creating Fundraisers on Shopoify by creating your first campaign in Fundlet.</p>
            <p>
                <ul>
                    <li><span>•</span> Add name and description</li>
                    <li><span>•</span> Upload campaign photos</li>
                    <li><span>•</span> Set the payout and goals</li>
                </ul>
            </p>
        </div>
        <div><iframe width="940" height="600" src="https://www.youtube.com/embed/P-39Nd9xclA" title="🚀 Create a Shopify Fundraiser in Minutes with Fundlet (Part 1 of 3)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    </div>

    <div class="page-feature" style="background-color: #F4F8FC;">
        <div>
            <h2>Part 2: Setup your Storefront</h2>
            <p>Every Fundlet campaign comes with a unique storefront to showcase the campaign and its products.</p>
            <p>
                <ul>
                    <li><span>•</span> Built directly into Shopify</li>
                    <li><span>•</span> Showcase a collections</li>
                    <li><span>•</span> Increase conversions with our product modal</li>
                </ul>
            </p>
        </div>
        <div><iframe width="940" height="600" src="https://www.youtube.com/embed/KLyatXgPyac" title="🚀 Create a Shopify Fundraiser in Minutes with Fundlet (Part 2 of 3)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    </div>

    <div class="page-feature" style="background-color: #F5FAF4;">
        <div>
            <h2>Part 3: Sales Walkthrough</h2>
            <p>See how Fundlet tracks and reports on sales from the point of purchase to reporting in the app.</p>
            <p>
                <ul>
                    <li><span>•</span> Uses Shopify discount codes</li>
                    <li><span>•</span> Slick UI to showcase results</li>
                    <li><span>•</span> Exportable reports</li>
                </ul>
            </p>
        </div>
        <div><iframe width="940" height="600" src="https://www.youtube.com/embed/KUwFt9E6PRI" title="🚀 Create a Shopify Fundraiser in Minutes with Fundlet (Part 3 of 3)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    </div>

    <div class="page-feature" style="background-color: #F4F2EF;">
        <div>
            <h2>Onboard Participants</h2>
            <p>Learn how to quickly onboard participants from your campaign page.</p>
            <p>
                <ul>
                    <li><span>•</span> Easy to use form</li>
                    <li><span>•</span> Upload photo, name and email</li>
                    <li><span>•</span> Shareable link</li>
                </ul>
            </p>
        </div>
        <div><iframe width="940" height="600" src="https://www.youtube.com/embed/qyF5mhqtfOc" title="Fundlet  - Onboard Participants" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    </div>

    <div class="page-feature" style="background-color: #F4F8FC;">
        <div>
            <h2>Onboard Campaigns</h2>
            <p>Learn how to quickly onboard campains from your shop.</p>
            <p>
                <ul>
                    <li><span>•</span> Easy to use form</li>
                    <li><span>•</span> Upload photo, content and more</li>
                    <li><span>•</span> Embed onto any page on your site</li>
                </ul>
            </p>
        </div>
        <div><iframe width="940" height="600" src="https://www.youtube.com/embed/7dc8UgCgMfA" title="Fundlet - Create Onboarding Form" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    </div>

    <div class="page-feature" style="background-color: #F5FAF4;">
        <div>
            <h2>Use Discount Codes</h2>
            <p>Fundlet uses Shopify's built-in discount codes. So you can use them to expand your fundraiser past your campaign page.</p>
            <p>
                <ul>
                    <li><span>•</span> Shop entire site</li>
                    <li><span>•</span> Limit use with Shopify coupon UI</li>
                    <li><span>•</span> Apply discounts if desired</li>
                </ul>
            </p>
        </div>
        <div><iframe width="940" height="600" src="https://www.youtube.com/embed/sNinQc-WOGQ" title="🎟 Fundlet + Coupon Codes – Run Shopify Fundraisers Across Your Entire Store" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    </div>

    <div class="page-feature" style="background-color: #F4F2EF;">
        <div>
            <h2>Setup Custom Fields</h2>
            <p>Collect custom data (think location, team name, personalization, etc.) to Fundraiser products.</p>
            <p>
                <ul>
                    <li><span>•</span> Add up to 2 custom fields</li>
                    <li><span>•</span> Open text fields and selectable options</li>
                    <li><span>•</span> Responses flow to exportable reports</li>
                </ul>
            </p>
        </div>
        <div><iframe width="940" height="600" src="https://www.youtube.com/embed/dKLdRiTWAqQ" title="Fundlet Custom Fields – Collect Team Names, Engravings &amp; More for your Shopify Fundraiser" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    </div>

    <div class="page-feature" style="background-color: #F4F8FC;">
        <div>
            <h2>Display Countdown</h2>
            <p>Learn how to show a countdown to drive urgency and boost sales.</p>
            <p>
                <ul>
                    <li><span>•</span> Beautifully designed countdown</li>
                    <li><span>•</span> Easy to setup</li>
                    <li><span>•</span> Drives urgency, creates excitement</li>
                </ul>
            </p>
        </div>
        <div><iframe width="940" height="600" src="https://www.youtube.com/embed/Yg8IIRvmnls" title="Fundlet Countdown Timer – Drive Urgency in Your Shopify Fundraiser ⏳" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    </div>

    <div class="page-feature" style="background-color: #F5FAF4;">
        <div>
            <h2>Use Existing Product Page</h2>
            <p>Learn how to use your existing product page with Fundlet</p>
            <p>
                <ul>
                    <li><span>•</span> Seamless integration</li>
                    <li><span>•</span> Use existing product customizations</li>
                    <li><span>•</span> Setup in under a minute</li>
                </ul>
            </p>
        </div>
        <div><iframe width="940" height="600" src="https://www.youtube.com/embed/A71g8bMGS9M" title="Fundlet Custom Fields – Collect Team Names, Engravings &amp; More for your Shopify Fundraiser" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    </div>

    <div class="page-feature" style="background-color: #F4F2EF;">
        <div>
            <h2>End-to-End Walkthrough</h2>
            <p>See how to setup a fundraiser from start-to-finish with Fundlet.</p>
            <p>
                <ul>
                    <li><span>•</span> Full setup</li>
                    <li><span>•</span> Great for a refresher</li>
                    <li><span>•</span> See how fast it is to get started!</li>
                </ul>
            </p>
        </div>
        <div><iframe width="940" height="600" src="https://www.youtube.com/embed/RNY4Yh6id4w" title="Fundlet - End to End Walkthrough" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    </div>
    
    {% include "footer.njk" %}

</body>

<script src="{{ '/resources/js/app.js' | url }}""></script>


</html>